# Ignore database files
*.sqlite3

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore environment-specific settings
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local development settings
/local_settings.py

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore logs
/logs/

# Ignore virtual environment
/venv/

# Ignore deployment files
/.env
/.env.local
/.env.*.local
/.env.development
/.env.test
/.env.production